<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}} - Team 1 Library Application</title>
    <!--Linking to Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <!-- Linking to Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
    <!--Local CSS files-->
    <link href="../static/styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="home">Team 1 Library Application</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="add_resource">Add Resources</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="add_user">Add Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="circulation">Issue/Return Books</a>
        </li>
      </ul>
    </div>
  </div>
</nav>




    <!-- End Navigation Bar -->

    <br>
    <div class="container">
    {% block body_content %}
    <!--Links to content created on individual pages -->
    {% endblock %}
    </div>


    <footer>

        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <h5>Example frontend system for a user with the credentials of Library Staff</h5>
                <p>Logged in user will have access to the following tables from the SQL database: Book, Copy, Person, Contact, Loan, Reservation.<br></p>
                <br>
                <p><a class="navbar-brand" href="https://github.com/Kaz-UK/LibraryProject"><img src="../static/images/github-mark.svg" alt="Git Hub Logo" width="30" height="24" class="d-inline-block align-text-top">Source Files available on GitHub</a></p>
            </div>
        </nav>
    </footer>
</body>
</html>