{% extends "layout.html" %}
{% block body_content %}

     <h1>Search Results</h1>
        {% for book in books %}
        <table class="table">
            <thead>
                <tr>
                <th scope="col">Title: {{book.title}}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Accession ID: {{book.accession_id}}</td>
                </tr>
                <tr>
                <td>Author: {{book.author}}</td>
                </tr>
                <tr>
                <td>Publisher: {{book.publisher}}</td>
                </tr>
                <tr>
                <td>Date: {{book.published_date}}</td>
                </tr>
                <tr>
                <td>ISBN: {{book.isbn}}</td>
                </tr>
                <tr>
                <td>Subject Heading: {{book.subject_heading}}</td>
                </tr>
                <tr>
                <td>Copies:</td>
                </tr>
                {% for copy in book.copies %}
                <tr>
                <td>Copy ID: {{copy.copy_id}} -- Location: {{copy.location}} -- Classmark: {{copy.classmark}} -- Availability: {{copy.loan_status}}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
        {% endfor %}
            <br>
        {{ message }}

{% block footer_content %}
{% endblock %}

{% endblock %}
